.flex-resume {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.width-resume {
  width: 55%;
}
.button-all {
  height: 40px;
  width: fit-content;
  border-radius: 8px;
  padding: 15px;
  border: 2px solid #fd377e;
  background-color: #fd377e;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.button-all:hover {
  background-color: #e34981;
  border: 2px solid #e34981;
}
.text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  color: #212529;
}
@media (max-width: 700px) {
  .flex-resume {
    display: block;
  }
}
